<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    .message--sender {
        margin-left:auto;
        width: fit-content;
    }
    .messageList {
        width: 300px;
    }
</style>
<body>

<div id="app">
    <textarea v-model="token"></textarea>

    <button @click="insertToken()">insert Token</button>
    <ul class="messageList" >
        
        <li v-for="(message,index) in messages" :class ="{'message--sender':message.sender_id !==userId}" :key="index">
            {{message.text}}
        </li>
        </ul>
    <div
            class="chats"
            v-for="(chat, i) in chats"
            :key="i"
    >
        Юзер айди {{ chat.user_id }}
        Чат {{ chat.chat_id }}

        <textarea v-model="currentText"></textarea>
        <button @click="sendMessage(chat.chat_id)">Send</button>
    </div>

</div>


<script type="module">
    import {io} from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js"
    import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.esm.browser.js'




    const app = new Vue({
        el: '#app',
        data() {
            return {
                currentText: '',
                message: 'Hello Vue!',
                chats: [],
                socket: null,
                token: '',
                messages: [],
                userId: 2
            }
        },
        methods: {
            insertToken(){
                const options = io({
            auth: {
                token: this.token
              }
            })

            const address = 'http://localhost:3000';
            this.socket = io(address,options)

            this.socket.on("getMessage",(data) =>{
                this.messages.push(data)
            });

            const myHeaders = new Headers();
            myHeaders.append("Authorization", `Bearer ${this.token}`);

            const requestOptions = {
                method: 'GET',
                headers: myHeaders,
                redirect: 'follow'
            };

            fetch("http://localhost:3000/chats", requestOptions)
                .then(response => {
                    return response.json()
                    console.log(response, 'response')
                })
                .then(result => {
                    this.chats = result
                    console.log(result, 'result')
                })
                .catch(error => console.log('error', error));
            },
            sendMessage(chatId) {
                this.socket.emit('sendMessage', {
                    text: this.currentText,
                    chatId: chatId
                })
                this.currentText = ''
            }
        }
    })

 

    // socket.on("connect_error", (err) => {
    //     console.log(err instanceof Error); // true
    //     console.log(err.message); // not authorized
    //     console.log(err.data); // { content: "Please retry later" }
    // });


    // const userSocket = io("/users")

    // userSocket.on("connect", () => {
    //     console.log(userSocket.id, 'userSocket.id')
    //     console.log(socket.id, 'socket.id')
    // })


</script>

</body>
</html>