<div id="app">

</div>>

<textarea id="inputText"></textarea>
<button id="send">Send</button>
<div id="messages">
</div>

<script type="module">
import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";
import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.esm.browser.js'
const app = {
  data (){
    return {
      title: 'Vue Init'
    }
  }
}
Vue.createApp(app).mount('#app')



const options = io({
  auth: {
    token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MiwiaWF0IjoxNjcxMDQwMTUxLCJleHAiOjE2NzE2NDQ5NTF9.qTWuhQEVre6Cnvq-eu5Ve4MS7PIIGDd3ZPF1UJl7weE"
  }
});
const addres = "http://localhost:3000";
const socket = io(addres,options);





socket.on("connect", () => {
  console.log(socket.id);
});

let button = document.getElementById('send');
button.addEventListener('click',function(){
let text = document.getElementById('inputText').value;
console.log(text)
socket.emit('sendMessage',text)
})
socket.on("hi", (data) => {
  console.log('Hi from socket');
});
socket.on("connect_error", (err) => {
  console.log(err instanceof Error); // true
  console.log(err.message); // not authorized
  console.log(err.data); // { content: "Please retry later" }
});
   


    socket.on("getMessage", (data) => {
        
  document.getElementById('messages').innerHTML += `<p>${data}</p>`

});



</script>
